/deep/ .uni-collapse-cell--open {
	background: white;
}

/deep/ .uni-collapse-cell {
	margin-bottom: 20rpx;
	border-radius: 8rpx;
	background: white;
}
/deep/ .uni-collapse {
	background-color: inherit;
}

/* /deep/ .uni-collapse-cell__title-text {
	border-left: 6rpx solid #ffffff;
	padding-left: 10rpx;
} */

/deep/ .title-color-type1 .uni-collapse-cell__title-text {
	border-color: #1eaf12;
}
/deep/ .title-color-type2 .uni-collapse-cell__title-text {
	border-color: #33add6;
}
/deep/ .title-color-type3 .uni-collapse-cell__title-text {
	border-color: #ff8585;
}
/deep/ .title-color-type4 .uni-collapse-cell__title-text {
	border-color: #ffad33;
}
/deep/ .title-color-type5 .uni-collapse-cell__title-text {
	border-color: #797fb1;
}

.tab-page {
	padding: 0 10px;
	height: 100%;
	overflow: auto;
	position: relative;
}

.expanded-content {
	font-size: 14px;
	& > view {
		display: flex;
		justify-content: space-between;
		padding: 10px;
		border-bottom: 1px solid $-border-line-color;

		&.file {
			display: block;
		}

		.label {
			color: #999;
			flex: 1;

			&.title {
				color: #333;
				font-weight: bold;
			}
		}

		&.file .label {
			margin-bottom: 5px;
		}

		.value {
			color: #333;
		}
	}

	.expanded-content-empty /deep/ .empty {
		padding-top: 1rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: white;

		img {
			width: 60%;
			height: auto;
		}

		.text {
			font-size: 0.8rem;
			margin-top: 0.8rem;
		}
	}
}

.detail-mode {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: hidden;
	background-color: white;
	border-radius: 14rpx;

	.detail-mode-head {
		position: relative;
		font-size: 32rpx;
		padding: 20rpx;
		background-color: #fafafa;
		border-bottom: 2rpx solid #f0f0f0;
		overflow: hidden;
		display: flex;
		justify-content: space-between;
		.head-title {
			flex: 1;
			word-break: break-all;
		}
		.close {
			flex-shrink: 0;
			padding-left: 16rpx;
		}
	}

	.detail-mode-content {
		flex: 1;
		font-size: 14px;
		overflow: auto;

		.detail-mode-content-item {
			display: flex;
			justify-content: space-between;
			padding: 20rpx;
			border-bottom: 1px solid $-border-line-color;
			&.file {
				display: block;
			}
		}

		.label {
			color: #999;
			flex-shrink: 0;

			&.title {
				color: #333;
				font-weight: bold;
			}
		}

		.file .label {
			margin-bottom: 5px;
		}

		.value {
			color: #333;
		}
	}
}

.info-card {
	margin: 20rpx 0;
	background-color: white;
	border-radius: 6px;
	position: relative;

	&:first-of-type {
		margin-top: 0;
	}

	.info-card-title {
		font-size: 13px;
		color: #333;
		line-height: 20px;
		// padding: 16px 12px 12px;
		padding-top: 15px;
		margin: 0 12px 10px 12px;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
	}

	.info-card-footer {
		border-top: 1px solid #f0f0f0;
		font-size: 12px;
		color: #999;
		display: flex;
		padding: 10px 12px;

		&.multiple {
			flex-direction: column;
		}

		.footer-row {
			display: flex;
			justify-content: space-between;

			&:not(:last-of-type) {
				margin-bottom: 20rpx;
			}
		}

		.footer-item:nth-of-type(1) {
			.footer-item-icon {
				background-color: #0066ff;
			}
		}

		.footer-item:nth-of-type(2) {
			//width: 27%;
			.footer-item-icon {
				background-color: #ff6600;
			}
		}

		.footer-item:nth-of-type(3) {
			//width: 49%;
			.footer-item-icon {
				background-color: #ff0000;
			}
		}

		.footer-item {
			display: flex;
			align-items: center;
			// margin-right: 20rpx;
			flex: 1;

			.footer-item-icon {
				width: 28rpx;
				height: 28rpx;
				border-radius: 50%;
				flex-shrink: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				margin-right: 10rpx;
				
				.img {
					width: 50%;
					height: 50%;
				}

				&.blue {
					background-color: #0066ff;
				}

				&.orange {
					background-color: #ff9800;
				}

				&.red {
					background-color: #ff0000;
				}

				&.green {
					background-color: #009966;
				}

				img {
					width: 50%;
					height: 50%;
					object-fit: cover;
				}
			}

			.footer-item-text,
			text {
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 1;
			}
		}
	}
}

.info-card-state {
	position: relative;
	overflow: hidden;

	&::after {
		position: absolute;
		content: '';
		width: 75px;
		height: 33px;
		color: white;
		//transform: rotateZ(45deg) scale(0.8);
		transform: rotateZ(45deg);
		display: flex;
		justify-content: center;
		align-items: flex-end;
		top: -6px;
		right: -26px;
		font-size: 12px;
	}

	&.state-0 {
		&:after {
			content: '流转';
			background-color: #66b1ff;
		}
	}

	&.state-1 {
		&:after {
			content: '完成';
			background-color: #67c23a;
		}
	}

	&.state-2 {
		&:after {
			content: '终止';
			background-color: #f56c6c;
		}
	}

	&.state-3 {
		&:after {
			content: '存档';
			background-color: #e6a23c;
		}
	}

	&.state-4 {
		&:after {
			content: '未发起';
			background-color: #909399;
		}
	}
}
