
.module {
  padding: 0 20px;

  .header {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 40px 0;
  }
}

.left {
  display: flex;

  .img-wrap {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;

    image {
      width: 32px;
      height: 32px;
    }
  }

  .user {
    display: flex;
    flex-direction: column;
    margin-left: 8px;

    .user-name {
      font-weight: bold;
      font-size: 14px;
      color: #333333;
    }

    .dept {
      font-size: 12px;
      color: #9c9c9c;
    }
  }
}

.right {
  font-size: 14px;
  color: #9c9c9c;
}

.time-line {
  border-left: 1px solid #e4e4e4;
  padding-left: 20px;
  padding-bottom: 60px;
  position: relative;
  margin-left: 10px;

  /*&:nth-last-of-type(2) {
    border-left: none;
    padding-bottom: 0;
  }*/
  &.second {
    border-left: none;
    padding-bottom: 0;
  }

  .state {
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #b1b1b1;
    left: -3.5px;
    top: -3.5px;

    &.active {
      background-color: #289cfe;
    }
  }

  .content {
    position: relative;
    top: -12px;
  }

  .time {
    font-size: 15px;
    color: #9a9a9a;
    margin-bottom: 10px;
  }

  .punch-time {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .address {
    font-size: 14px;
    color: #9a9a9a;
  }
}

.punch-card {
  .punch-button {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, #62bcfe, #3198f9);
    color: white;
    margin: 0 auto;
    box-shadow: 0 8px 20px rgba(98, 188, 254, 0.33);
    display: flex;
    flex-direction: column;
    align-items: center;

    &.outwork {
      background-image: linear-gradient(to bottom, #36e3ad, #1dbe88);
      box-shadow: 0 8px 20px rgba(57, 233, 176, 0.33);
    }
  }

  .title {
    margin-top: 37%;
    font-size: 18px;
  }

  .sub-title {
    font-size: 14px;
    color: #f7f7f7;
    font-weight: 300;
    margin-top: 7px;
  }



  .icon {
    margin-right: 5px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    text-align: center;
    line-height: 16px;
  }
}

.punch-tip {
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: #9a9a9a;
  margin-top: 20px;
  align-items: center;
}

.un-punch {
  background: #f7e4c7;
  color: #f59a23;
  font-size: 13px;
  width: 50px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.add-punch {
  font-size: 13px;
  .add-punch-btn {
    color: #1989fa;
  }
}
